.Rproj.user
.Rhistory
.RData
.Ruserdata
cru_ts4.01.2011.2016.pet.dat.nc
Rplots.pdf
plot138.jpg
Sen slope Burabay.R
Climate plots Shuchinsk.R
packrat/lib*/
The Hitchhiker's Guide to Ggplot2.R
report.html
Chirchik_2_Chinaz_UZ by month -1.png
Chirchik_2_Chinaz_UZ by month -2.png
KA1 – seasonal boxplots (by month) -2.png
KA2 – seasonal boxplots (by month) - 2.png
KA_1_monthly_KZ by month - 2.png
KA_1_monthly_KZ by month - 3.png
KA_1_monthly_KZ by month -1.png
KA_2_monthly_KZ by month  -1.png
KA_2_monthly_KZ by month -2.png
KA_2_monthly_KZ by month -3.png
Chirchik_1_Mulala_UZ by month  -1.png
Chirchik_1_Mulala_UZ by month -3.png
Chirchik_1_Mulala_UZ$`Q against month.png
CO2.RData
aranjuez.RData
install_packages.R
