.Rproj.user
.Rhistory
.RData
.Ruserdata
cru_ts4.01.2011.2016.pet.dat.nc
Rplots.pdf
plot138.jpg
Sen slope Burabay.R
Climate plots Shuchinsk.R
packrat/lib*/
The Hitchhiker's Guide to Ggplot2.R
report.html
