Chirchik_1_Mulala_UZ correlations.png
Chirchik_1_Mulala_UZ$F_ppm.png
Chirchik_1_Mulala_UZ$PO4_ppm.png
Chirchik_2_Chinaz_UZ by Q -1.png
Chirchik_2_Chinaz_UZ by Q -2.png
Chirchik_2_Chinaz_UZ by Q -3.png
Chirchik_2_Chinaz_UZ correlations.png
Chirchik_2_Chinaz_UZ$F_ppm.png
Chirchik_1_Mulala_UZ by Q -3.png
Chirchik_2_Chinaz_UZ$HCO3_ppm,Chirchik_2_Chinaz_UZ$Ca_ppm.png
Chirchik_2_Chinaz_UZ$SO4_ppm correlations.png
Chirchik_2_Chinaz_UZ$`NH4-N_ppm.png
HCO3_ppm - Ca_ppm.png
KA 2 monthly by year -1.png
KA 2 monthly by year -2.png
KA 2 monthly by year -3.png
KA_1_monthly_KZ by Q -1.png
KA_1_monthly_KZ by Q -2.png
KA_1_monthly_KZ by Q -3 .png
KA_1_monthly_KZ corrlations.png
KA_1_monthly_KZ$Fe_total_ppm.png
KA_1_monthly_KZ$SO4_ppm.png
KA_2_monthly_KZ _ correltations.png
KA_2_monthly_KZ by Q -2.png
KA_2_monthly_KZ by Q -3.png
KA_2_monthly_KZ$Ca.png
KA_2_monthly_KZ$TPH.png
Q - HCO3_ppm 1-1.png
Q - NO3-N.png
RplotKA_2_monthly_KZ by Q -1.png
RplotKA_2_monthly_KZ$Fe_total.png
TJ_GWP by site.png
TJ_GWP.png
TS KA1 BOD.png
Ts KA2 NO3-N.png
Ts KA2 PO4.png
UA1_yearly_KZ$Mg.png
UA1_yearly_KZ$TPH.png
UA2_yearly_KZ correlations.png
UA_1_yearly_KZ$TPH.png
UA_1_yearly_kz correlations.png
UA_1_yearly_kz-1.png
UA_1_yearly_kz.png
UA_2_yearly_KZ$Fe, UA_2_yearly_KZ$PO4.png
UA_2_yearly_KZ$Fe_total.png
UA_2_yearly_KZ$Mg, UA_2_yearly_KZ$SO4.png
UA_2_yearly_KZ$TPH.png
UA_2_yearly_kz-2.png
boxplot UA_2_yearly_kz-1.png
boxplots BOD -1.png
boxplots BOD.png
boxplots KA_1_monthly_KZ by year-1.png
boxplots KA_1_monthly_KZ by year-2.png
boxplots KA_1_monthly_KZ by year-3.png
boxplots PO4.png
boxplots_NO3.png
boxplots_NO3_N.png
boxpot PO4.png
AF_GW_2013 by district -1.png
AF_GW_2013 by district.png
Chirchik_1_Mulala_UZ by Q -1 corr.png
Chirchik_1_Mulala_UZ by Q -2.png
data_boxplots_NO3_N.png
